<ul>
    {% for item in menu %}
    <li><a href="{% if item.staticPage %}/{{ item.staticPage.url }}{% elseif item.url %}{{ item.url }}{% else %}/{% endif %}" class="link">{{ item.name }}</a>

        {% if item.child.count > 0 %}
        <ul>
            {% for child in item.child %}
            <li><a href="{% if child.staticPage %}/{{ child.staticPage.url }}{% else %}{{ child.url }}{% endif %}">{{ child.name }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {% endfor %}

</ul>


